target
.settings
.classpath
*.log
*.log.*
.project
.settings
.externalToolBuilders
bin
*.iml
.idea
cookies.txt
acllog.*
*LMS_Pdf*
.bin
*.ipr
*.iws
.swo
.swp
.swn

MCT_ETL/src/main/webapp/resources/js/angularjs/minify
*.mui
MCT_ETL/junit*.tmp
